body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: #231741;
    border-radius: 0;
    border: 0;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: white;
    text-align: center;
  }
  
  #nav-list a span {
    font-size: 1.8em;
  }

  #mainPage
  {
    background-color: #231741;
    color: white;
    padding-top: 3em;
    padding-bottom: 3.3em;
  }

  #mainPageImages img
  {
    max-width: 80%;
    height: auto;
    padding-bottom: 35px;
    padding-top: 35px;
  }

  #mainPage h1
  {
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #mainPage h4
  {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffa339;
    font-weight: bold;
  }

  #registerForDemoBtn
  {
    background-color: rgb(211, 46, 73);
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 50px;
    color: white;
    font-weight: bold;
  }

  #footerImg img
  {
    width: 150px;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }

  .startFreeWrapper
  {
    height: 336px;
    background:url(../Assets/person_banner.png) no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
  }
  .startFreeWrapper button
  {
    background-color: rgb(211, 46, 73);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
  }
  .feedBackContainer
  {
    text-align: center;
  }
  .userInfo span
  {
    display: block;
  }

  .footerWrapper span
  {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .footerWrapper p
  {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    opacity: .7;
  }
  .card-footer a
  {
    margin: 10px;
  }
  .feedbackSectionWrapper
  {
    background-color: #FFF9FA;
  }
  .feedbackSectionWrapper i
  {
    color: tomato;
    margin-bottom: 20px;
  }
  .feedbackSectionWrapper span
  {
    font-weight: bold;
    font-size: 21px;
  }
  .feedbackSectionWrapper img
  {
    height: 125px;
    width: auto;
  }
  .feedbackSectionWrapper h1
  {
    font-weight: bold;
  }
  .feedbackContent
  {
    font-size: 24px;
  }
  .featuredService span
  {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 21px;
  }
  .featuredService div
  {
    padding-left: 50px;
    padding-right: 50px;
  }
  .featureButton button
  {
    background-color:#5f6fbf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
  }
  .featureButton
  {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .featuredService p
  {
    opacity: .8;
  }
  .integratedContainer
  {
    background-color: #FFF9FA;
  }
  .moreDetails span
  {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .talkDeveloper button
  {
    background-color:#5f6fbf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
  }
  .calenderContainer
  {
    width: 80%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff4e8;
  }
  .emailMeDiv
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(206, 223, 255);
  }
  .getCallsContainer > div
  {
    border-radius: 10px;
    padding: 20px;
    margin-top: 3em;
    margin-bottom: 3em;
    height: 300px;

  }
  .getStarted
  {
    background-color:#5f6fbf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
  }
  #dateContainer div
  {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
    background-color: white;
  }
  .getCallsDetails span, .getEmailDetails span
  {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: .8;
  }
  .emailInput button
  {
    height: 100%;
    border: none;
    background-color: #231741;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  /*.emailInput input
  {
    flex: 3;
    height: 100%;
    width: 100%;
    margin: 0;
  }*/
  #getInTouchBtn
  {
    background-color:#5f6fbf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
  }
  .features div
  {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #hr1
  {
    background-color: rgb(175, 171, 171);
    height: 10px;
    width: 90%;
    border-radius: 30px;
    margin: 0 auto;
  }